<div class="shopping-edit-container">
  <form>
    <div class="shopping-edit-items-container">
      <div class="shopping-edit-item">
        <label for="name">Name</label>
        <input type="text" id="name" class="shopping-edit-name" />
      </div>
      <div class="shopping-edit-item">
        <label for="amount">Amount</label>
        <input type="number" id="amount" class="shopping-edit-amount" />
      </div>
    </div>
    <div class="shopping-edit-buttons-container">
      <button class="confirm" type="submit">Confirm Changes</button>
      <button class="delete" type="button">Delete Item</button>
      <button class="clear" type="button">Clear Changes</button>
    </div>
  </form>
</div>