<div class="recipe-detail-container">
  <div class="recipe-detail-image-container">
    <img [src]="recipe.imagePath" alt="recipe.name" class="recipe-detail-image">
  </div>
  <div class="recipe-name">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="dropdown-menu-container">
    <button class="recipe-detail-toggle">
      Manage Recipe
    </button>
    <div *appDropdown="displayMenu" class="dropdown-menu">
      <li class="dropdown-menu-option-container">
        <a class="dropdown-menu-option" (click)="onAddToShoppingList()">
          Add ingredients to Shopping List
        </a>
      </li>
      <li class="dropdown-menu-option-container">
        <a class="dropdown-menu-option"
          (click)="onEditRecipe()">
          Edit Recipe
        </a>
      </li>
      <li class="dropdown-menu-option-container">
        <a class="dropdown-menu-option">
          Delete Recipe
        </a>
      </li>
    </div>
  </div>
  <div>
    {{ recipe.description }}
  </div>
  <div>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} // {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>