<div class="recipe-detail-container">
  <div class="recipe-detail-image-container">
    <img src="" alt="" class="recipe-detail-image">
  </div>
  <div class="recipe-name">
    <h1>Recipe Name</h1>
  </div>
  <div class="dropdown">
    <button class="recipe-detail-toggle">
      Manage Recipe
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Add ingredients to Shopping List</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div>
  <div>
    Description
  </div>
  <div>
    Ingredients
  </div>
</div>